/*reset css*/
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #17161b;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.header {
  grid-area: my-header;
}
.main {
  grid-area: my-main;
}
.aside {
  grid-area: my-aside;
}

.grid {
  display: grid;
  grid-template-areas:
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main";
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 3rem 0;
}

.grid-init {
  max-width: 144rem;
  margin: auto;
  padding: 3rem 2.4rem 4rem;
}
.header {
  box-shadow: 0px 0.4rem 1rem rgba(255, 255, 255, 0.07);
}
.header_wrap {
  display: flex;
  align-items: center;
}
.header_logo {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 117%;
  margin-right: 7rem;
}
.header_nav {
  margin-right: 9.2rem;
}
.header_nav a {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 117%;
}
.header_nav a:not(:last-child) {
  margin-right: 2.2rem;
}
.header_find {
  width: 33rem;
  height: 4.1rem;
  border-radius: 0.8rem;
  margin-right: 3.9rem;
}
.header_find input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08) url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: top 50% right 1.5rem;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 4rem;
  font-size: 2rem;
  line-height: 115%;
  color: #fff;
}

.header_find input::placeholder {
  font-size: 2rem;
  color: #fff;
}
.header_date {
  text-align: center;
  margin-right: 8.6rem;
}
.header_hours {
  font-size: 2rem;
  line-height: 115%;
}
.header_days {
  font-size: 1.2rem;
  line-height: 117%;
}
.header_personal {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.main_display {
  padding-top: 5rem;
}
.main_display_trailer {
  position: relative;
  width: 98.5%;
  height: 20.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../img/back-trailer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1.6rem;
  padding: 1.9rem 0 1.9rem 1.9rem;
}
.main_display_views {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 119%;
}
.main_display_header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 150%;
}
.main_display_date {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
}
.button_play_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  width: 8.1rem;
  height: 8.1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button_play {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-left: 2.5rem solid #fff;
  border-bottom: 1.5rem solid transparent;
  border-radius: 0.2rem;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  padding-right: 1rem;
}
.title_left,
.title_right {
  display: flex;
  align-items: center;
}
.title_main {
  font-size: 2rem;
  line-height: 115%;
}
.title_count {
  margin-left: 2rem;
  color: rgba(255, 255, 255, 0.2);
  font-size: 2rem;
  line-height: 115%;
}
.title_right span {
  font-size: 1.4rem;
  line-height: 114%;
  color: rgba(255, 255, 255, 0.2);
}
.title_right img {
  width: 2rem;
  height: 1.5rem;
  margin-left: 0.4rem;
}
.trending,
.popular {
  display: flex;
  justify-content: space-between;
  padding-right: 1.6rem;
}
.trending_item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 47%;
  height: 25.1rem;
  border-radius: 1.6rem;
  background: url(../img/trending-item-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tranding_footer,
.popular_footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1rem 1.8rem 6.4rem;
  border-radius: 1.6rem;
  background: rgba(255, 255, 255, 0.3);
}
.popular_footer {
  background: rgba(255, 255, 255, 0.4);
  padding: 0.8rem 1.9rem 0.8rem 6.4rem;
}
.trending_header {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
}
.trending_date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}
.trending_time {
  padding: 0.4rem 1.3rem;
  background: #fff;
  border-radius: 1.6rem;
  font-size: 1.4rem;
  line-height: 114%;
  color: #000;
}
.trending_plash {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.4rem;
  line-height: 114%;
  border-radius: 1.6rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.4rem 1.5rem;
}
.small {
  width: 3rem;
  height: 3rem;
  left: 7%;
}
.small_plus {
  width: 1.8rem;
  height: 1.8rem;
  left: 10%;
}
.button_play_wrap.small .button_play {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-left: 0.8rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  border-radius: 0.2rem;
}
.button_play_wrap.small_plus .button_play {
  width: 0;
  height: 0;
  border-top: 0.35rem solid transparent;
  border-left: 0.5rem solid #fff;
  border-bottom: 0.35rem solid transparent;
  border-radius: 0.2rem;
}
.popular_item {
  display: flex;
  align-items: flex-end;
  width: 30%;
  height: 19.2rem;
  border-radius: 1.6rem;
  background: url(../img/popular-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popular_header {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}
.popular_date {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 113%;
}
.popular_rating {
  display: flex;
  align-items: center;
}
.popular_rating span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  margin-left: 0.4rem;
}
.aside {
  position: relative;
  padding-right: 3.6rem;
}
.aside::after {
  content: url(../img/Polygon.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.6rem;
  background: #fcfcfe;
  border-radius: 2rem;
  position: absolute;
  top: 10.7rem;
  right: 2.5rem;
  cursor: pointer;
}
.aside_wrap {
  background: rgba(255, 255, 255, 0.02);
  margin-left: -2.4rem;
}
.aside_top {
  padding-top: 5rem;
  padding-right: 2.3rem;
  padding-left: 2.4rem;
  padding-bottom: 4rem;
  background: #17161b;
  border-right: 0.1rem solid #1c1b1f;
}
.aside_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}
.aside_sort {
  display: flex;
}
.aside_sort_img {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
}
.aside_sort_img img {
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
}
.aside_sort_img img:nth-child(1) {
  margin-bottom: 0.3rem;
}
.aside_header {
  font-size: 2rem;
  line-height: 115%;
}
.aside_sort_text {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  line-height: 114%;
  color: rgba(255, 255, 255, 0.4);
}
.aside_sort_select {
  display: flex;
  align-items: center;
}
.aside_sort_select span {
  font-size: 1.4rem;
  line-height: 114%;
}
.aside_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22.6rem;
  border-radius: 1.5rem;
  padding: 1.9rem 0 1.9rem 1.9rem;
  background: url("../img/batman_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aside_item:nth-child(3) {
  margin-top: 3rem;
  /* margin-bottom: 4rem; */
}
.aside_views {
  position: relative;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 119%;
}
.aside_footer {
  position: relative;
  z-index: 10;
}
.aside_footer_bottom {
  position: relative;
}
.aside_footer_bottom::before {
  position: absolute;
  top: -50%;
  left: 0;
  transform: translate(0, 50%);
  content: "";
  display: block;
  width: 6.5rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.aside_item_name {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 117%;
}
.aside_item_date {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 114%;
}
.aside_bottom {
  padding: 2.5rem 0 2rem 2.4rem;
}
.aside_favourite_text {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 115%;
}
.aside_genre_items {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-right: 5rem;
}
.aside_genre {
  margin-bottom: 2rem;
  margin-right: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  line-height: 117%;
}
.perple {
  background: #8066f6;
}
.orange {
  background: #e1784f;
}
.green {
  background: #63cfe1;
}
.gray {
  background: #2b2a2f;
}
.aside_favourite {
  margin-bottom: 6rem;
}
.aside_add {
  display: flex;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 114%;
  cursor: pointer;
}
.aside_add_round {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b2a2f;
  margin-right: 0.5rem;
}

/*сетка*/
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}
